.uploadArea {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 calc(var(--horizontal-frame) * -1);
  /* width: calc(100% + var(--horizontal-frame) * 2); */
  background: var(--color-bg);
  width: 450px;

  @media (max-width: 450px) {
    width: 100vw;
  }
}

.buttonText {
  margin-top: 8px;
  font-size: 24px;
}

.preview {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
}
