.wrapper {
  padding-bottom: calc(60px + env(safe-area-inset-bottom));
  margin: 0 var(--negative-horizontal-frame);
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--ant-color-border);
  background-color: var(--ant-color-bg-base);
  padding-top: 8px;
  padding-bottom: calc(8px + env(safe-area-inset-bottom));
  z-index: 100;

  @media (min-width: 450px) {
    width: calc(var(--desktop-width) - 2px);
  }
}

.tabItem {
  flex: 1;
  text-align: center;
  color: var(--ant-color-text);
  cursor: pointer;
  user-select: none;
}

.active {
  color: var(--color-primary);
}

.icon {
  font-size: 18px;
}

.label {
  margin-top: 2px;
  color: inherit;
}
