.container {
  margin: 0 var(--negative-horizontal-frame);
  max-width: calc(100% + var(--horizontal-frame) * 2);
  background: var(--color-bg);
  min-height: var(--page-height);
  height: fit-content;
}

.tabs {
  background: var(--ant-color-white);
  padding: 0 calc(var(--horizontal-frame) * 2);
  position: sticky;
  top: var(--header-height);
  z-index: 100;
  padding: 0 var(--horizontal-frame);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--page-height);
}
