.image {
  width: 450px !important;
  aspect-ratio: 1/1;
  margin: 0 var(--negative-horizontal-frame) 8px;

  @media (max-width: 450px) {
    width: 100vw !important;
  }
}

.text {
  font-size: 20px;
}

.actionButton {
  flex: 1;
}
