@import "antd/dist/reset.css";

:root {
  --horizontal-frame: 15px;
  --negative-horizontal-frame: calc(var(--horizontal-frame) * -1);
  --desktop-width: 450px;
  --header-height: 70px;
  --navbar-height: 66px;

  --color-bg: #ffe7ff;
  --color-primary: #e85fed;
}

#root {
  min-height: 100vh;
}

#root-container {
  max-width: var(--desktop-width);
  margin: 0 auto;
  height: 100%;
  border-left: 1px solid rgb(239, 239, 239);
  border-right: 1px solid rgb(239, 239, 239);
  padding: 0 var(--horizontal-frame);
  position: relative;

  @media (max-width: 450px) {
    border: none;
  }
}

.full-width-container {
  margin: 0 calc(var(--horizontal-frame) * -1);
  width: calc(100% + var(--horizontal-frame) * 2);
}

body:has(.ant-drawer-open) {
  overflow: hidden;
}

.ant-drawer {
  width: var(--desktop-width);
  margin: 0 auto;
}

.ant-drawer-body {
  padding-bottom: calc(24px + env(safe-area-inset-bottom));
}
