@import "antd/dist/reset.css";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  --horizontal-frame: 15px;
  --negative-horizontal-frame: calc(var(--horizontal-frame) * -1);
}

.container {
  max-width: 450px;
  margin: 0 auto;
  height: 100vh;
  border-left: 1px solid rgb(239, 239, 239);
  border-right: 1px solid rgb(239, 239, 239);
  padding: 0 var(--horizontal-frame);

  @media (max-width: 450px) {
    border: none;
  }
}

.full-width-container {
  margin: 0 calc(var(--horizontal-frame) * -1);
  width: calc(100% + var(--horizontal-frame) * 2);
}
